.container{
    background-image: url('../src/img/background.png');
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
};
.image{
    float: left;
    border: thin solid;
    padding: 5px;
    margin: 0px 10px 10px 0;
}
.discografia{
    color: grey;
    flex-direction: column;
    text-align: right;
    font-size: 30px;
    margin: -60px;
    margin-right: 20px;
}
.input{
    width: 500px;
    height: 30px;
    margin-left : 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    border-radius: 20px;
    background-color: gray;
    color: white;
}
input::placeholder{
    color: white;
}
.btn-newAlbum{
    margin-top: 10px;
    margin-left : 20px;
    padding: 10px;
    border-radius: 20px;
    border: 0;
    background-color:  gray;
    color: white;
    cursor : pointer;
}
main{
    display: flex;
    justify-content: center;
    padding: 0.6rem 0;
}

.card-post {
    background-color: rgb(128, 128, 128, 0.5);
    padding: 10px 54px;
    border-radius: 15px;
}

.card-post h1{
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    font-size: 1.6rem;
    margin-bottom: 5px;
}
.line-post{
    height: 2px;
    background-color: gray;
}

.card-body-post{
    margin-top: 15px;
}

.fields{
    margin-bottom: 5px;
}

label{
    display: block;
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: white;
    font-family: Poppins;
    font-weight: 600;
}

input {
    width: 100%;
    border-radius: 10px;
    border: 0;
    outline: 0; 
    font-size: 0.8rem;
    padding-left: 12px;
    height: 30px;
}

.btn-post{
    margin-top: 10px;
    text-align: center;
}

.btn-post button{
    font-size: 1rem;
    padding: 8px;
    color: white;
    background-color:  gray;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
}

.error-message{
    margin-top: 6px;
    border-radius: 15px;
    color: rgb(240,47,47);
    font-size: 0.8rem;
}

.div-btn{
    margin-top: 1px;
    margin-left: 200px;
}

.div-btn button{
    font-size: 0.8rem;
    font-weight: 600;
    padding: 6px;
    color: white;
    background-color:  gray;
    border: 0;
    border-radius: 16px;
    cursor: pointer;
}
.select{
    padding: 6px;
    border: 0;
    border-radius: 16px;
    width: 80%;
    font-size: 1.0rem;
    cursor: pointer;
    line-height: 1;
    margin-bottom: 3px;
    color: gray;
}

select{
    text-indent: 5px;
}

select:checked {
    color: rgb(43, 41, 41);
}

.btn-excluirMusic{
    padding: 5px;
    border-radius: 20px;
    border: 0;
    background-color:  rgb(145, 36, 36);
    color: white;
    cursor : pointer;
}
